<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/Emilio.jpg">
            <p>Hi, my name is {{name}} Escaño, a current Software Engineering student and future backend developer from Dominican Republic.</p>
            <p>Some socials are:</p>
            <ul>
                <a href="https://github.com/Lunaticfrg0"><img class="miniLogos" src="https://image.flaticon.com/icons/png/512/25/25231.png"></a>
                <a href="https://www.linkedin.com/in/emilioescano/"><img class="miniLogos" src="https://www.vectorico.com/wp-content/uploads/2018/02/LinkedIn-Icon-squircle.png"></a>
            </ul>
            <p>This site uses the API's from mapbox.com and weatherstack.com to deliver the weather information.</p>
            <p>The technologies used in this project are:</p>
            <ul>
                <li>Node.js</li>
                <li>Express</li>
                <li>HTML, CSS and Javascript</li>
                <li>Git and Heroku</li>
            </ul>
        </div>
        {{>footer}}
    </body>
</html>