<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="/img/Emilio.jpg">
        <p>The one above is {{name}}</p>
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>